@{
    ViewData["Title"] = "Beroeps Product";
}

<div class="">
    <h2 class="">Beroeps Product</h2>
    <p>Omschrijving: blablabalba</p>
    <button type="button" class="button button-primary">Edit</button>
    <div class="row">
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item active">Eigenschappen</li>
                <li class="list-group-item">Docenten: sdfksdfkj</li>
                <li class="list-group-item">Duur (uur): 1,5</li>
                <li class="list-group-item">Zelfstudie (uren): 40</li>
                <li class="list-group-item">Leerdoelen: sdfhskjdf</li>
                <li class="list-group-item">Studiepunten: 7,5</li>
                <li class="list-group-item">Weging: 50%</li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item active">Beoordeling</li>
                <li class="list-group-item">
                    <div class="text-center">Voldoende</div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <ul class="list-group">
                <li class="list-group-item active">Beoordeling</li>
                <li class="list-group-item">
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item margin-6px">
                            <h3>Cirteria 1 (2)</h3>
                            <p>Criteria 1</p>
                        </li>
                        <li class="list-group-item margin-6px">
                            <h3>Cirteria 2 (4)</h3>
                            <p>Criteria 2</p>
                        </li>
                        <li class="list-group-item margin-6px">
                            <h3>Cirteria 3 (6)</h3>
                            <p>Criteria 3</p>
                        </li>
                        <li class="list-group-item margin-6px">
                            <h3>Cirteria 4 (8)</h3>
                            <p>Criteria 4</p>
                        </li>
                        <li class="list-group-item margin-6px">
                            <h3>Cirteria 5 (10)</h3>
                            <p>Criteria 5</p>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>