@{
    ViewData["Title"] = "Tentamen Overzicht";
}

<div class="">
    <div class="row">
        <div class="col-md-8">
            <h3 class="">Tentamen Overzicht</h3>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Naam</th>
                <th scope="col">Type</th>
                <th scope="col">Week</th>
                <th scope="col">Course</th>
                <th scope="col">Beoordeling</th>
                <th scope="col">Studiepunten</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">5</th>
                <td>Toets UML</td>
                <td>Schriftelijke Toets</td>
                <td>Week 3</td>
                <td>OOSE</td>
                <td>9</td>
                <td>7,5</td>
                <td>
                    <a asp-area="" asp-controller="Tentamen" asp-action="SchriftelijkeToets">Bekijk</a>
                </td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>Functioneel Ontwerp Casus</td>
                <td>BeroepsProduct</td>
                <td>Week 3</td>
                <td>OOSE</td>
                <td>Voldoende</td>
                <td>7,5</td>
                <td>
                    <a asp-area="" asp-controller="Tentamen" asp-action="BeroepsProduct">Bekijk</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

