@{
    ViewData["Title"] = "Schriftelijke Toets";
}

<div class="">
    <h2 class="">Schriftelijke Toets</h2>
    <p>Omschrijving: blablabalba</p>
    <div class="row">
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item active">Eigenschappen</li>
                <li class="list-group-item">Docenten: sdfksdfkj</li>
                <li class="list-group-item">Duur (uur): 1,5</li>
                <li class="list-group-item">Zelfstudie (uren): 40</li>
                <li class="list-group-item">Leerdoelen: sdfhskjdf</li>
                <li class="list-group-item">Studiepunten: 7,5</li>
                <li class="list-group-item">Weging: 50%</li>
            </ul>

        </div>
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item active">Beoordeling</li>
                <li class="list-group-item">
                    <div class="text-center">9</div>
                </li>
            </ul>
        </div>
    </div>
</div>