@{
    ViewData["Title"] = "Course Concept";
}

<div class="">
    <div class="row">
        <div class="col-md-10">
            <h2 class="">Concept naam</h2>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary margin-10px">Definitief maken</button>
        </div>
    </div>
    <div class="col-md-6">
        <ul class="list-group">
            <li class="list-group-item active">Facts</li>
            <li class="list-group-item">Docenten: </li>
            <li class="list-group-item">Duur: Semester (20 weken - 30EC)</li>
            <li class="list-group-item">Totale studielast (uur): 300</li>
        </ul>
    </div>
    <a class="btn btn-primary margin-10px" asp-area="" asp-controller="Template" asp-action="ConceptPlanning">Edit Weekplanning</a>
    <div class="row">
        <div class="col-md-10">
            <h3 class="">EVL's</h3>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary margin-10px">Toevoegen</button>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Naam</th>
                <th scope="col">Omschrijving</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Requirement Analist</td>
                <td>De student is in staat requirements te vergaren en deze vast te leggen in een functioneel ontwerp.</td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-10">
            <h3 class="">Leeruikomsten (LUK)</h3>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary margin-10px">Toevoegen</button>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Naam</th>
                <th scope="col">Omschrijving</th>
                <th scope="col">EVL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Functional requirements</td>
                <td>De student kan functional requirements in kaart brengen.</td>
                <td>1</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Non-Functional requirements</td>
                <td>De student kan non-functional requirements in kaart brengen.</td>
                <td>1</td>
            </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-10">
            <h3 class="">Leerdoelen</h3>
        </div>
        <div class="col-md-2">
            <button type="button" class="btn btn-primary margin-10px">Add</button>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Naam</th>
                <th scope="col">Omschrijving</th>
                <th scope="col">LUK</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>SMART</td>
                <td>De student kan functional requirements SMART defineren.</td>
                <td>1</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Story</td>
                <td>De student kan functional requirements middels stories vastleggen.</td>
                <td>1</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Noun-Phrase</td>
                <td>De student functionele requirements achterhalen middels noun-phrase identificatie.</td>
                <td>1</td>
            </tr>
        </tbody>
    </table>
</div>