@{
    ViewData["Title"] = "Course Templates";
}

<div class="">
    <h2 class="">Templates</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Version</th>
                <th scope="col">View</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>I-OOSE</td>
                <td>Object Oriented System Engineering</td>
                <td>v1</td>
                <td>
                    <a class="" asp-area="" asp-controller="Template" asp-action="Template">View</a>
                </td>
            </tr>
        </tbody>
    </table>
    <h2 class="">Concepts</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Version</th>
                <th scope="col">View</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>I-OOSE</td>
                <td>Object Oriented System Engineering</td>
                <td>v2</td>
                <td>
                    <a class="" asp-area="" asp-controller="Template" asp-action="Concept">Edit</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

